
<!DOCTYPE html>
<html>
<head>
<title>Learn Mandarin with Images - Lessons</title>
</head>
<body>
<h1>Learn Mandarin with Images - Lessons</h1>

<nav>
<a href="/">Home</a>
<a href="/lessons">Lessons</a>
<a href="/resources">Resources</a>
</nav>

<main>
<h2>Lessons</h2>

<ul>
<li><a href="/lessons/beginner">Beginner</a></li>
<li><a href="/lessons/intermediate">Intermediate</a></li>
<li><a href="/lessons/advanced">Advanced</a></li>
</ul>
</main>

<footer>
<p>Copyright 2023 Learn Mandarin with Images</p>
</footer>
</body>
</html>


